:root {
    --ms-primary-color: #b91547;
}

/*
--------
TYPO
--------
*/

body {
    font-family: 'Roboto', sans-serif;
}

/*
--------
COMMON
--------
*/

body {
    height: 100vh;
}

/*
--------
MAIN
--------
*/

main {
    height: 100%;
    background-color: var(--ms-primary-color);
    padding: 1.875rem 0 2.5rem;
    overflow-y: auto;
}

/* Form */

main #form .ms-white-box {
    background-color: #fff;
    border-radius: 1.25rem;
}

main #form label {
    color: var(--ms-primary-color);
}

main #form input,
main #form select {
    text-align: center;
    border: .0625rem solid var(--ms-primary-color);
}

main #form select {
    height: 1.725rem;
}

main #form .ms-btn {
    color: var(--ms-primary-color);
    font-family: inherit;
    background-color: #c5c5c5;
    font-weight: 700;
}
main #form .ms-btn:first-child {
    border: .125rem solid #e38446;
}

main #form input,
main #form .ms-btn,
main #form select {
    border-radius: .3125rem;
}

main #form .ms-btn:active {
    background-color: var(--ms-primary-color);
    color: #fff;
    border: .125rem solid var(--ms-primary-color);
}

/* Ticket */

main .hidden {
    display: none;
}

main #ticket .ms-white-box {
    background-color: #fff;
}

main #ticket .passenger-name {
    background-color: #757575;
    padding: 1.5625rem .625rem;
}

main #ticket .info {
    border-top: .0625rem solid #757575;
    border-bottom: .0625rem solid #757575;
    padding: 1.5625rem 0;
}

main #ticket h4 {
    margin-bottom: 2.8125rem;
}
